/****** Data Types ********/
/****** End Data Types ********/
/******* Operators ************/
h1 {
  font-size: 16px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 30;
  opacity: 0.8;
  padding-right: 3.5px; }

h4 {
  width: 20px;
  width: 30px;
  width: 12px; }

/* Equality Operator ->    ==, != */
h2:after {
  content: " My font is sans-serif."; }

h3:after {
  content: ' My font is a number.'; }

/* Comparison Operator ->     ==, <=, >=, != */
h2 {
  padding: 25px; }

/* Logical Operator ->    and, or */
h5:after {
  content: 'Both or One of these is false'; }

/* String Operations */
h6:after {
  content: "Your name is: Abdul Wahab"; }

/* Color Operations */
h1 {
  color: #66c8ff; }

h2 {
  color: #ff2b5b; }

/******* End Operators *******/
/******** Parent Child Selector ->    &   *******/
.btn:hover {
  color: white; }
.btn:visited {
  color: white; }
.btn:active {
  color: white; }

.btn > span {
  color: white; }
.btn + span {
  color: white; }
.btn ~ span {
  color: white; }

.btn-primary {
  color: white; }
.btn-secondary {
  color: white; }

body.page .btn {
  color: white; }

/******* End Parent Child Selector ****/
/********* Interpolation ->    ******/
h2:after {
  content: " My font is sans-serif."; }

/******** End Interpolation ****/
/******* Partials ******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****** End Partials ********/
/******* Mixins ******/
p {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #ff0000; }

h6 {
  background-color: #fc0;
  font-size: 20px; }

.main a {
  color: blue; }
  .main a:visited {
    color: green; }
  .main a:active {
    color: orange; }
  .main a:hover {
    color: red; }

p {
  border-color: blue;
  border-width: 1in;
  border-style: dashed; }

h6 {
  border-color: blue;
  border-width: 2in;
  border-style: dashed; }

p {
  border-color: blue;
  border-width: 1in;
  border-style: dashed; }

h6 {
  border-color: blue;
  border-width: 2in;
  border-style: dashed; }

.shadows {
  -moz-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  -webkit-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  box-shadow: 0px 4px 5px #666, 2px 6px 10px #999; }

/****** End Mixins ******/
/****** Inheritance / Extend ********/
.message, .success, .warning, .error, .seriuosError, .criticalError {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.warning {
  border-color: yellow; }

.error, .seriuosError, .criticalError {
  border-color: red; }

/* Multiple Extends */
.error, .seriuosError, .criticalError {
  border: 1px #f00;
  background-color: #fdd; }

.attention, .seriuosError, .criticalError {
  font-size: 3em;
  background-color: #ff0; }

.seriuosError, .criticalError {
  border-width: 3px; }

/* Chaining Extends */
.criticalError {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%; }

/****** End Inheritance ********/
/*** Placeholder Classes ***/
.bar, .baz {
  color: red; }

.bar {
  background: blue; }

.baz {
  background: yellow; }

/*** End Placeholder Classes ***/
/*** DIfference b/w Mixin and Extend ***/
/** Mixin code isn't DRY **/
/** It's recommended to use Mixin with arguments only**/
.foo {
  text-indent: -9999px;
  overflow: hidden; }

.bar {
  text-indent: -9999px;
  overflow: hidden; }

.baz {
  text-indent: -9999px;
  overflow: hidden; }

/** Placeholder class code is DRY **/
.foo, .bar, .baz {
  text-indent: -9999px;
  overflow: hidden; }

/*** End DIfference b/w Mixin and Extend ***/
/*** Nesting ***/
/* Useful when you want to avoid the repition of parent selector */
a {
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  body.firefox a {
    font-weight: normal; }

/* Nested Properties */
.funky {
  font-family: fantasy;
  font-size: 3em;
  font-weight: bold; }

/** End Nesting **/
/**** Lists ****/
/* Nth function in lists */
.stuff-1 {
  color: #111;
  background-color: #4BC2A5;
  border: 1px solid #ff9900; }

.stuff-2 {
  color: #222;
  background-color: #606F40;
  border: 1px solid #77ff66; }

.stuff-3 {
  color: #333;
  background-color: #6648CA;
  border: 1px solid #73C227; }

h1 {
  background-color: #6648CA; }

/*** End Lists ****/
/*** Maps ***/
.color-red {
  background-color: "#ff0000"; }

.color-green {
  background-color: "#00ff00"; }

.color-blue {
  background-color: "#0000ff"; }

/*** End Maps ***/
body {
  color: orange;
  font-size: 36px;
  background-color: #0d0d0d; }

body::after {
  content: "Abdul Wahab";
  background-color: #556644; }

/*# sourceMappingURL=app.css.map */
